Flask==2.3.2
gunicorn==21.2.0
psycopg2==2.9.7
psycopg2-binary==2.9.7
requests==2.31.0
Werkzeug==2.3.6
Jinja2==3.1.2
itsdangerous==2.1.2
MarkupSafe==2.1.3
pywhatkit==5.0
pytz==2023.3
mysql-connector-python==8.0.33
click>=8.1.3
blinker>=1.6.2
packaging==24.1
charset-normalizer<4,>=2
idna<4,>=2.5
urllib3<3,>=1.21.1
certifi>=2017.4.17
pyautogui
wikipedia==1.4.0
Pillow==10.4.0
protobuf<=3.20.3,>=3.11.0
pymsgbox
pytweening>=1.0.4
pyscreeze>=0.1.21
pygetwindow>=0.0.5
mouseinfo
python3-Xlib
beautifulsoup4==4.12.3
soupsieve>1.2
pyrect
pyperclip
